transformers==4.40.0
datasets==2.19.0
torch==2.2.0

scikit-learn==1.4.0
pandas==2.2.0
numpy==1.26.0

langdetect==1.0.9
requests==2.31.0
beautifulsoup4==4.12.0

kaggle==1.6.6
bleach
python-slugify

tqdm==4.66.0

matplotlib==3.8.0
seaborn==0.13.0

# Fix transformers deps explicitly
regex
safetensors>=0.4.1
tokenizers>=0.19,<0.20
huggingface-hub>=0.19.3,<1.0