
uvicorn==0.29.0


fastapi==0.111.0
pydantic==2.7.4

python-dotenv==1.0.0
requests==2.31.0
python-whois==0.9.4

Pillow>=11.0.0
pytesseract==0.3.10

numpy==1.26.4
soundfile==0.12.1

google-generativeai==0.7.2
bleach==6.1.0
httpx==0.25.2
python-jose[cryptography]==3.3.0